# Basic Python

## 1. Split this string

In [14]:
s = "Hi there Sam!"

In [15]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [16]:
planet = "Earth"
diameter = 12742

In [17]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [8]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [11]:
array0=np.zeros(10)

In [22]:
arr=np.ones(10)*5

## 5. Create an array of all the even integers from 20 to 35

In [29]:
arr=np.arange(20,35,2)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [53]:
arr=np.arange(0,9).reshape(3,3)

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [54]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [55]:
import pandas as pd

In [58]:
d1={"names":["pragu","abi","krish"],"age":[21,20,19]}
d=pd.DataFrame(d1)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [59]:
pd.date_range(start='1/1/2023',end='10/2/2023')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [60]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [67]:
d=pd.DataFrame(lists,columns=["s.no","name","age"])